/* CSS for the dashed vertical line */
.vertical-white-line {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100vh;
    z-index: 1;
    border-left: 2px dashed rgb(90, 90, 90);
    /* Default: white dashed line */
    transition: border-color 0.5s ease;
    /* Smooth color transition */
}