/* NavBar.css */
.menuIconToggle {
    top: 35px;
    left: 30px;
    height: 22px;
    width: 22px;
    transition: all 0.3s;
}

.hamb-line {
    position: absolute;
    height: 2px;
    width: 150%;
    background-color: #444;
    transition: all 0.25s;
}

.hor {
    margin-top: 3px;
}

.dia.part-1 {
    transition: all 0.25s;
}

.dia.part-2 {
    margin-top: 3px;
    transition: all 0.25s;
}

#openSideMenu:checked~nav {
    transform: translateX(0);
    z-index: 40;
}

#openSideMenu:checked~.menuIconToggle>.hor {
    opacity: 0;
}

#openSideMenu:checked~.menuIconToggle>.dia.part-1 {
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSideMenu:checked~.menuIconToggle>.dia.part-2 {
    transform: rotate(-135deg);
    margin-top: -9px;
}

@media screen and (max-width: 640px) {
    nav {
        width: 100%;
        transform: translateX(100%);
    }
}

/* Submenu Transition */
nav ul li:hover>.submenu,
nav ul li:focus-within>.submenu {
    transform: translateX(0);
    z-index: 50;
    visibility: visible;
}

.submenu {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% + 1px);
    max-height: 400px;
    overflow-y: auto;
    background-color: white;
    /* Ensure the submenu has a solid background */
    border: 1px solid #ccc;
    z-index: 50;
    /* Ensure the submenu is above other elements */
}

.submenu-item {
    padding: 12px 20px;
    font-size: 14px;
}

.text-black {
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.border-b {
    border-bottom-width: 1px;
}

.border-gray-200 {
    border-color: #e5e7eb;
}

.hover\:bg-gray-200:hover {
    background-color: #e5e7eb;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.z-20 {
    z-index: 20;
}

.fixed {
    position: fixed;
}

.w-full {
    width: 100%;
}

.active {
    background-color: #f0f0f0;
    /* Highlight active menu item */
}